@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 53% 92%;
    --foreground: 200 15% 25%;
    --card: 194 53% 96%;
    --card-foreground: 200 15% 25%;
    --popover: 194 53% 96%;
    --popover-foreground: 200 15% 25%;
    --primary: 182 49% 37%;
    --primary-foreground: 180 11% 95%;
    --secondary: 194 30% 85%;
    --secondary-foreground: 182 49% 30%;
    --muted: 194 30% 85%;
    --muted-foreground: 200 10% 45%;
    --accent: 54 78% 74%;
    --accent-foreground: 54 50% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 30% 80%;
    --input: 194 30% 88%;
    --ring: 182 49% 37%;
    --chart-1: 182 49% 37%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 200 15% 12%;
    --foreground: 194 53% 92%;
    --card: 200 15% 17%;
    --card-foreground: 194 53% 92%;
    --popover: 200 15% 12%;
    --popover-foreground: 194 53% 92%;
    --primary: 182 49% 47%;
    --primary-foreground: 180 11% 95%;
    --secondary: 200 15% 25%;
    --secondary-foreground: 194 53% 92%;
    --muted: 200 15% 25%;
    --muted-foreground: 194 30% 70%;
    --accent: 54 78% 64%;
    --accent-foreground: 54 50% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 15% 25%;
    --input: 200 15% 25%;
    --ring: 182 49% 47%;
    --chart-1: 182 49% 47%;
    --chart-2: 173 58% 49%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
